@import 'tailwindcss';

@theme {
  --color-blue-100: #0086ed;
  --color-blue-200: #0076d1;
  --color-blue-300: #0067b5;
  --color-blue-400: #005799;
  --color-blue-500: #00477d;
  --color-blue-600: #003760;
  --color-blue-700: #002745;
  --color-blue-800: #001729;

  --color-beige-100: #ebe8ce;
  --color-beige-200: #d1cfb8;
  --color-beige-300: #b8b5a2;
  --color-beige-400: #9e9c8b;
  --color-beige-500: #858475;
  --color-beige-600: #69675c;
  --color-beige-700: #4a4940;
  --color-beige-800: #2b2b27;

  --color-yellow-100: #f0e800;
  --color-yellow-200: #d4cd00;
  --color-yellow-300: #b8b100;
  --color-yellow-400: #9c9600;
  --color-yellow-500: #807b00;
  --color-yellow-600: #636000;
  --color-yellow-700: #474500;
  --color-yellow-800: #2b2a00;

  --color-monotone-100: #fafafa;
  --color-monotone-200: #d6d6d6;
  --color-monotone-300: #bababa;
  --color-monotone-400: #9e9e9e;
  --color-monotone-500: #828282;
  --color-monotone-600: #636363;
  --color-monotone-700: #474747;
  --color-monotone-800: #1a1a1a;

  --color-primary-main: #003760;
  --color-primary-sub: #858475;
  --color-primary-accent: #d4cd00;

  --color-neutral-background: #fafafa;
  --color-neutral-text-main: #1a1a1a;
  --color-neutral-text-sub: #636363;
  --color-neutral-link: #0076d1;
  --color-neutral-border: #9e9e9e;
}
